.contact {
  display: flex;
  width: 100%;
  height: 100%;
  display: inline;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.contact-welcome-img {
  margin-top: 17%;
}
.contact-link-box {
  margin-top: 7%;
}
.contact-link {
  text-decoration: none;
  width: 8%;
  margin-left: 3%;
  margin-right: 3%;
}
