.scroll-box-favorite {
  width: 50%;
  height: 70%;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.favorite {
  display: flex;
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.favorite-img {
  height: 90%;
}
.scroll-box-favorite::-webkit-scrollbar {
  background-color: #fff;
  height: 4px;
  width: 4px;
}
.scroll-box-favorite::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.295);
}
.scroll-box-favorite::-webkit-scrollbar-thumb {
  background-color: #fefeff;
  border-radius: 6px;
}
