@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.home {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 30%;
  font-family: "Nanum Pen Script";
}
.home h1 {
  font-size: 40px;
}
.home-img {
  border-radius: 20%;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 30px;
}
