@import url("https://fonts.googleapis.com/css2?family=Nanum+Godic&display=swap");
.menu * {
  display: inline;
  font-family: "Nanum Godic";
}
.menu hr {
  display: block;
  width: 56%;
}

.menu {
  font-size: 35px;
  text-align: center;
  align-items: center;
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
}

.menu li {
  margin: 50px;
}

.menu li a {
  color: white;
  text-decoration: none;
  text-shadow: -2px -2px rgba(0, 0, 0, 0.74), 2px -2px rgba(0, 0, 0, 0.74),
    -2px 2px rgba(0, 0, 0, 0.74), 2px 2px rgba(0, 0, 0, 0.74);
}

.menu ul {
  padding-left: 0px;
}
