body {
  overflow: hidden;
}
.scroll-box {
  width: 100%;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.page {
  scroll-snap-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-box::-webkit-scrollbar {
  background-color: #ffffff;
  height: 1px;
  width: 1px;
}
.scroll-box::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.scroll-box::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 1px;
}

/* 페이지별 적용 */
.page:nth-child(2) {
  color: white;
  background-color: rgba(0, 0, 0, 0.911);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.page:nth-child(3) {
  color: rgba(0, 0, 0, 0.801);
  background-color: rgba(0, 0, 0, 0.034);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.page:nth-child(4) {
  color: rgba(0, 0, 0, 0.801);
  background-color: rgba(0, 0, 0, 0.295);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.page:nth-child(5) {
  color: white;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
